<%= form_with(model: rider, local: true) do |form| %>
  <% if rider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rider.errors.count, "error") %> prohibited this rider from being saved:</h2>

      <ul>
        <% rider.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div> 
    <div>
      <%= form.label :firstname %>
      <%= form.text_field :firstname %>

      <%= form.label :lastname %>
      <%= form.text_field :lastname %>
    </div>

    <div>
      <%= form.label :city_of_origin %>
      <%= form.text_field :city_of_origin %>

      <%= form.label :state_of_origin %>
      <%= form.text_field :state_of_origin %>
    </div>

    <div>
      <%= form.label :latitude %>
      <%= form.text_field :latitude %>

      <%= form.label :longitude %>
      <%= form.text_field :longitude %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>

  </div>
  
<% end %>
